body{
    background: rgb(248, 248, 140);
    font-family: sans-serif;
    margin:0;
}

.title{
    text-align: center;
    font-style: italic;
    text-shadow: 1px 3px 5px grey;
}

.opr{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.arr{
    font-size: 1rem;
    border:0;
    padding:10px;
    background-color: rgba(180, 146, 249, 0.552);
    border-radius: 8px;
    font-weight: bolder;
}

.sorts{
    display: flex;
    justify-content: space-around;
}

.sort{
    margin: 2px;
    font-size: 1rem;
    background-color: rgb(251, 143, 42);
    padding: 10px;
    border: none;
    /* border-radius: 8px; */
    font-style: bold;
    font-weight: bolder;

}

.bar{
    margin: 3px;
    height: 200px;
    background-color: lightgreen;
}

.cen{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
    margin: 3px;
    border-radius: 10px;
}

.bar-container{
    display: flex;
    align-items: end;
    padding: 2px;
    transition: height 0.5s ease-in 0.5s;
}

.controls{
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

.cnt{
    margin: 5px;
    text-align: center;
}

.sort:active, 
.sort:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 10px transparent;
}

.arr:active,
.arr:focus {
    animation: pulse2 1s;
    box-shadow: 0 0 0 10px transparent;
}

@keyframes pulse2 {
    0% { box-shadow: 0 0 0 0 rgba(180, 146, 249, 0.552); }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgb(251, 143, 42); }
}

.btn{
    cursor: pointer;
}